<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Asistentes</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header class="top-bar">

  <div class="logo">
    <img th:src="@{/images/logo-ovi.png}"
         alt="Logo OVI"
         class="logo-img" src="/images/logo-ovi.png">
  </div>
  <nav class="nav-bar">
    <a th:href="@{/staff/index}" class="nav-link">Inicio</a>
    <a th:href="@{/staff/oviusers}" class="nav-link">Usuarios OVI</a>
    <a th:href="@{/staff/solicitudes}" class="nav-link">Solicitudes</a>
    <a th:href="@{/staff/patis}" class="nav-link">Asistentes</a>
    <a th:href="@{/logoutConfirm}" class="nav-link">Cerrar sesión</a>
  </nav>
</header>
<main class="container">
  <div class="header-primary">
    <h1>Asistentes</h1>
  </div>
  <div style="padding:20px">
    <div th:if="${#lists.isEmpty(patis)}" class="alert-info">
      No hay Asistentes registrados.
    </div>
    <table th:unless="${#lists.isEmpty(patis)}" class="data-table">
      <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="p : ${patis}">
        <td th:text="${p.DNI}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.phone}"></td>
        <td th:text="${p.mail}"></td>
        <td th:text="${p.address}"></td>
        <td>
                        <span th:if="${p.status == 'Aceptado'}"
                              class="estado-aprobada" th:text="${p.status}"></span>
          <span th:if="${p.status == 'Denegado'}"
                class="estado-rechazada" th:text="${p.status}"></span>
          <span th:if="${p.status == 'Pendiente'}"
                class="estado-pendiente" th:text="${p.status}"></span>
        </td>
        <td>
                        <span th:if="${p.status == 'Aceptado'}"
                              class="estado-aprobada">Ya aceptado</span>
          <span th:unless="${p.status == 'Aceptado'}">
                            <a th:href="@{/staff/patis/aceptar/{dni}(dni=${p.DNI})}"
                               class="btn btn-success">Aceptar</a>
                            <a th:href="@{/staff/patis/denegar/{dni}(dni=${p.DNI})}"
                               class="btn btn-secondary">Denegar</a>
                        </span>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
    <a th:href="@{/staff/index}" class="btn btn-primary">Volver</a>
  </div>
</main>
</body>
</html>