<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sin contratos</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{css/style.css}">
</head>
<body>
<header class="top-bar">
    <div class="logo">
        <img th:src="@{/images/logo-ovi.png}"
             alt="Logo OVI"
             class="logo-img" src="/images/logo-ovi.png">
    </div>
    <nav class="nav-bar">
        <a th:href="@{/OVIUser/OVIndex}" class="nav-link">Inicio</a>
        <a th:href="@{/OVIUser/available}" class="nav-link">Solicitar profesional</a>
        <a th:href="@{/OVIUser/estadoSolicitud}" class="nav-link">Mis solicitudes</a>
        <a th:href="@{/OVIUser/list}" class="nav-link">Mis contratos</a>
        <a th:href="@{/logoutConfirm}" class="nav-link">Cerrar sesión</a>
    </nav>
</header>
<div class="container">
    <div class="header-primary">
        <h1>No tienes profesionales contratados</h1>
    </div>
    <div class="card" style="margin:20px; text-align:center">
        <p>No tienes ningún profesional contratado...
        ¡Prueba a contratar a uno para llenar esto!</p>
        <a href="/templates/OVIUser/available.html" class="btn btn-primary">Solicitar ahora</a>
        <a href="/templates/OVIUser/OVIndex.html" class="btn btn-secondary">Volver</a>
    </div>
</div>
</body>
</html>