<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sin contratos</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:ref="@{css/style.css}">
</head>
<body>
<header class="top-bar">...</header>
<div class="container">
    <div class="header-primary">
        <h1>No tienes profesionales contratados</h1>
    </div>
    <div class="card" style="margin:20px; text-align:center">
        <p>No tienes ningún profesional contratado...
        ¡Prueba a contratar a uno para llenar esto!</p>
        <a href="/templates/OVIUser/available" class="btn btn-primary">Solicitar ahora</a>
        <a href="/templates/OVIUser/index" class="btn btn-secondary">Volver</a>
    </div>
</div>
</body>
</html>