<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Oficina para la vida independiente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
</head>
<body>
<main class="container">
    <h1>Lista de PAP/PATIs</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Dirección</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="pati : ${patis}">
                    <td th:text="${pati.DNI}"></td>
                    <td th:text="${pati.name}"></td>
                    <td th:text="${pati.age}"></td>
                    <td th:text="${pati.phone}"></td>
                    <td th:text="${pati.mail}"></td>
                    <td th:text="${pati.address}"></td>

                    <td>
                        <a th:href="@{/OVIUser/contrato/{dni}"
                           class="btn btn-info btn-sm">
                            Ver contrato
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    <a th:href="@{OVIUser/index}"
       class="btn btn-secondary mt-3">
        Volver
    </a>
</main>
</body>
</html>