<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Editar especialidad</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
<main class="container">
  <h1>Editar especialidad</h1>
  <form th:action="@{/speciality/edit}" th:object="${speciality}" method="post">
    <div class="mb-3">
      <label for="idSpeciality" class="form-label">Cód. Especialidad</label>
      <input id="idSpeciality" type="text" th:field="*{idSpeciality}" class="form-control" readonly>
    </div>
    <div class="mb-3">
      <label for="descrip" class="form-label">Descripción</label>
      <input id="descrip" type="text" th:field="*{descrip}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a href="/speciality/list" class="btn btn-secondary">Cancelar</a>
  </form>
</main>
</body>
</html>