<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Oficina para la vida independiente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
</head>
<body>
<main class="container">
    <h1>Lista de PAP/PATIs</h1>

    <!-- Mensaje cuando el OVI no tiene ningún PATI asignado -->
    <div th:if="${#lists.isEmpty(PATIs)}" class="alert alert-info">
       No tienes PATI asignados, haz un contrato con uno para que aparezca aquí
    </div>

    <table th:unless="${#list.isEmpty(PATIs)}" class="table table-striped">
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dirección</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="PATI : ${PATIs}">
                <td th:text="${PATI.DNI}"></td>
                <td th:text="${PATI.name}"></td>
                <td th:text="${PATI.age}"></td>
                <td th:text="${PATI.phone}"></td>
                <td th:text="${PATI.mail}"></td>
                <td th:text="${PATI.address}"></td>
            </tr>
        </tbody>
    </table>
</main>
</body>
</html>