<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>

<header class="top-bar">
    <div class="logo">
        <img th:src="@{/images/logo-ovi.png}"
             alt="Logo OVI"
             class="logo-img" src="/images/logo-ovi.png">
    </div>
</header>

<div class="container">

    <div class="header-primary">
        <h1>Iniciar sesión</h1>
        <p>Accede a tu cuenta de OVI</p>
    </div>

    <div class="card" style="max-width: 500px; margin: 30px auto;">

        <form th:action="@{/login}" method="post">

            <div class="form-group">
                <label>Usuario (DNI)</label>
                <label>
                    <input type="text" name="dni" placeholder="Introduce tu DNI" required>
                </label>
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <label>
                    <input type="password" name="password" placeholder="Introduce tu contraseña" required>
                </label>
            </div>

            <button type="submit" class="btn btn-primary" style="width:100%;">Entrar</button>

        </form>

        <p style="margin-top:20px; text-align:center;">

            ¿No tienes cuenta?

            <a th:href="@{/register}"><strong>Regístrate aquí</strong></a>
        </p>

    </div>

</div>

</body>
</html>
