<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registro PATI</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:ref="@{css/style.css}">
</head>

<body>

<header class="top-bar">
  <div class="logo">
    <img th:src="@{/images/logo-ovi.png}"
         alt="Logo OVI"
         class="logo-img" src="/images/logo-ovi.png">
  </div>
</header>

<div class="container">

  <div class="header-primary">
    <h1>Registro PAP/PATI</h1>
    <p>Introduce tus datos y especialidades</p>
  </div>

  <div class="card" style="max-width:600px; margin:30px auto;">

    <form th:action="@{/register/pati}" th:object="${pati}" method="post">

      <div class="form-group">
        <label>DNI</label>
        <label>
          <input type="text" th:field="*{DNI}" required>
        </label>
      </div>

      <div class="form-group">
        <label>Nombre completo</label>
        <label>
          <input type="text" th:field="*{name}" required>
        </label>
      </div>

      <div class="form-group">
        <label>Fecha de nacimiento</label>
        <label>
          <input type="date" th:field="*{birthDate}" required>
        </label>
      </div>

      <div class="form-group">
        <label>Género</label>
        <label>
          <input type="text" th:field="*{gender}" required>
        </label>
      </div>

      <div class="form-group">
        <label>Teléfono</label>
        <label>
          <input type="text" th:field="*{phone}" required>
        </label>
      </div>

      <div class="form-group">
        <label>Email</label>
        <label>
          <input type="text" th:field="*{mail}" required>
        </label>
      </div>

      <div class="form-group">
        <label>Dirección</label>
        <label>
          <input type="text" th:field="*{address}" required>
        </label>
      </div>

      <div class="form-group">
        <label>Especialidades</label>
        <label>
          <textarea th:field="*{specialties}" placeholder="Ej: 1: Cocina, 2: Movilidad..."></textarea>
        </label>
      </div>

      <button type="submit" class="btn btn-secondary" style="width:100%;">Registrarse</button>

    </form>

  </div>

</div>

</body>
</html>
