<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:ref="@{css/style.css}">
</head>

<body>

<header class="top-bar">
  <div class="logo">
    <img th:src="@{/images/logo-ovi.png}"
         alt="Logo OVI"
         class="logo-img" src="/images/logo-ovi.png">
  </div>
</header>

<div class="container">

  <div class="header-primary">
    <h1>Crear cuenta</h1>
    <p>Selecciona el tipo de usuario</p>
  </div>

  <div class="card" style="text-align:center; margin:30px auto; max-width:500px;">

    <a th:href="@{OVIUser/add}" class="btn btn-primary" style="width:100%; margin-bottom:20px;">
      Registrarme como OVIUser
    </a>
    <a th:href="@{/register/pati}" class="btn btn-secondary" style="width:100%;">
      Registrarme como PAP/PATI
    </a>

  </div>

</div>

</body>
</html>
